<h1>Git File Case Mismatch Plugin</h1>
<p>Detect and fix file case mismatch between git and the file system</p>
<p>Adds <strong>Before Commit</strong> check for file case mismatches between git and the file system
with corrective actions:</p>
<ul>
  <li>Change git file case to match file system</li>
  <li>Change file system case to match git</li>
</ul>
<p><img src="https://github.com/vsch/git-file-case-fixer/raw/master/assets/images/ScreenShot_ShowMismatchesDialog.png" alt="ScreenShot_ShowMismatchesDialog.png" /></p>

