<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Plugin" type="#org.jetbrains.idea.devkit.run.PluginConfigurationType">
    <module name="git-file-case-fixer" />
    <option name="VM_PARAMETERS" value="-Xmx1024m -Xms512m -XX:MaxPermSize=500m -ea" />
    <option name="PROGRAM_PARAMETERS" value="" />
    <alternative-path path="IDEA Plugin jdk MN" alternative-path-enabled="false" />
    <predefined_log_file enabled="true" id="idea.log" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>